<head>
  <title>Maze</title>
  <style>
    .maze-container {
      display: grid;
      grid-template-columns: repeat(<%= @maze.size %>, 20px);
      grid-gap: 2px;
    }
    .hidden {
      display: none;
    }
    .maze-cell {
      width: 20px;
      height: 20px;
    }
    .wall {
      background-color: black;
    }
    .path {
      background-color: white;
    }
    .start {
      background-color: green;
    }
    .end {
      background-color: red;
    }

    .solution {
      background-color: yellow;
    }
  </style>
</head>

<body data-controller="maze-show">
  <h1>maze size: <%=@maze.size%></h1>
  <div class="maze-container" id="maze-container" data-grid="<%= @maze.grid %>" data-solution="<%= @maze.solution %>" ></div>
  <button id="toggle-solution-button">Show Solution</button>
  <br>
  <%= link_to 'Back to Maze Index', mazes_path, class: 'button' %>
</body>
